#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: 10px;
}
#directionsPanel {
    overflow: auto;
}
#directions-panel2 {
    overflow: auto;
}
.title-text{
    font-weight: bold;
    text-align:center;
    color: red;
}
.panels{
    float:right;
    width:100%;
    height:100%;
}
#control
{
    display: block;
}