<div class="map-control-panel">
    <div class="row">
        <button type="button" class="btn btn-info" ng-click="terrainButton()">Terreno</button>
        <button type="button" class="btn btn-info" ng-click="roadMapButton()">Calles</button>
        <button type="button" class="btn btn-info" ng-click="satelliteButton()">Satélite</button>
        <button type="button" class="btn btn-info" ng-click="hybridButton()">Híbrido</button>
        <button type="button" class="btn btn-info" ng-click="trafficButton()">Tráfico</button>
        <button type="button" class="btn btn-info" ng-click="bicycleButton()">Bicicleta</button>
        <button type="button" class="btn btn-info" ng-click="transitButton()">Autobuses Públicos</button>
    </div>
</div>