<div class="directional-panel container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="map-canvas" style="height: 700px; border:10px solid; border-radius: 25px;" ng-init="initialize()"></div>
        </div>
        <div class="col-md-4">
            <div id="directionsPanel" class="panels"></div>
            <div id="directionsPanel3" class="panels">
                <p>Distancia Total: <span id="total"></span></p>
            </div>
            <div id="directions-panel2" class="panels"></div>
        </div>
    </div>
</div>