<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <form action="" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Empieza en</span>
                <input id="start" class="form-control" type="text" value="" style="width:300px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Termina en</span>
                <input id="end" class="form-control" type="text" value="" style="width:300px;">
            </div>
        </div>
        <input type="button" class="btn btn-success" value="Obtén la ruta" ng-click="calcRoute()">
    </form>
</nav>
<!--<dropdown></dropdown>-->

<div id="control" >

    <br><br><div class="title-text">Puntos de ascenso y descenso</div> <br>
    <select id="end2" >
        <option ng-repeat="stops in busStops" value="{{stops.latitude}},{{stops.longitude}}">{{stops.stopName}}</option>
    </select>

</div>

</div>

<div class="container-fluid">
    <div class="row">
        <button type="button" class="btn btn-info" ng-click="terrainButton()">Terreno</button>
        <button type="button" class="btn btn-info" ng-click="roadMapButton()">Calles</button>
        <button type="button" class="btn btn-info" ng-click="satelliteButton()">Satélite</button>
        <button type="button" class="btn btn-info" ng-click="hybridButton()">Híbrido</button>
        <button type="button" class="btn btn-info" ng-click="trafficButton()">Tráfico</button>
        <button type="button" class="btn btn-info" ng-click="bicycleButton()">Bicicleta</button>
        <button type="button" class="btn btn-info" ng-click="transitButton()">Autobuses Públicos</button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="map-canvas" style="height: 700px; border:10px solid; border-radius: 25px;" ng-init="initialize()"></div>
        </div>
        <div class="col-md-4">
            <div id="directionsPanel" class="panels"></div>
            <div id="directionsPanel3" class="panels">
                <p>Distancia Total: <span id="total"></span></p>
            </div>
            <div id="directions-panel2" class="panels"></div>
        </div>
    </div>
</div>
</html>