<nav class="navbar navbar-static-top navbar-dark bg-inverse">
    <form action="" class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Empieza en</span>
                <input id="start" class="form-control" type="text" value="" style="width:300px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Termina en</span>
                <input id="end" class="form-control" type="text" value="" style="width:300px;">
            </div>
        </div>
        <input type="button" class="btn btn-success" value="Obtén la ruta" ng-click="calcRoute()">
    </form>
</nav>